<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StudentX</title>
    <link rel="stylesheet" href="css/bulma/bulma.min.css">
</head>
<body>
<div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="title">StudentX</h1>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
            </div>
        </div>
    </nav>
</div>

<section class="section">
    <div class="container">
        <h4 class="title is-4">Update Student</h4>
        <div class="columns">
            <div class="column is-half">
                <div th:if="${response}" class="mb-3">
                    <article class="message is-success" th:if="${response.status} == 200">
                        <div class="message-body">
                            <div>
                                Student updated successfully
                            </div>
                            <a class="mt-2" href="/">Go to Home</a>
                        </div>
                    </article>
                    <article class="message is-danger" th:if="${response.status} != 200">
                        <div class="message-body">
                            Student update failed
                            <div>
                                <span>Message:</span>
                                <div th:text="${response.message}"></div>
                            </div>
                        </div>
                    </article>
                </div>
                <form action="#" th:action="@{/update(studentId=${student.id})}" th:object="${student}" method="post">
                    <input type="hidden" th:field="*{id}">
                    <fieldset disabled class="mb-3">
                        <div class="field">
                            <label class="label">Id</label>
                            <div class="control">
                                <input class="input" type="text" th:field="*{id}">
                            </div>
                        </div>
                    </fieldset>
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Jhon Doe" th:field="*{name}" required/>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <p class="control">
                            <input type="submit" class="button is-link" value="Save"/>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>